{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <title>Wimtech - Connexion</title> -->
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/png"
        href="https://cdn.jsdelivr.net/gh/LahcenEzzara/cdn@main/wimchat/images/favicon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/LahcenEzzara/cdn@main/wimchat/css/tailwindcss-colors.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/LahcenEzzara/cdn@main/wimchat/css/auth-styles.min.css">
    <link rel="stylesheet" href="{% static 'css/auth-style.css' %}">
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed">
        <div
            class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-md-8 col-lg-6 col-xxl-3">
                        <div class="card mb-0">
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/gh/LahcenEzzara/cdn@main/wimchat/js/auth-jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/LahcenEzzara/cdn@main/wimchat/js/auth-bootstrap.bundle.min.js"></script>
</body>

</html>